

:root{
  --main-color:#DA2C32;
  --light-color:#666;
  --light-bg: #eee;
  --white:#fff;
  --black:#303030;
  --border:.1rem solid var(--light-color);
  --box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
  font-family: 'Montserrat',sans-serif;
  margin:0; padding:0;
  box-sizing:border-box;
  outline:none;
  border:none;
  text-decoration: none;
}

::selection{
  background-color: var(--main-color);
  color:var(--white);
  
}

::-webkit-scrollbar{
  height:.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track{
  background-color:transparent;

}

::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  border-radius:.5rem;
}

html{
  font-size:62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top:5rem;
}
section{
  padding:3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;

}


.btn,
.inline-btn{
  margin-top:1rem;
  padding:1rem 3rem;
  background-color: var(--main-color);
  color:var(--white);
  cursor:pointer;
  text-align:center;
  font-size:1.8rem;
  text-transform: capitalize;
}

.btn:hover,
.inline-btn:hover{
  background-color: var(--black);
}

.btn{
  display: block;
  width:100%;


}

.inline-btn{
  display:inline-block;
}

.heading{
  text-align: center;
  padding-bottom:2.5rem;
  font-size:3rem;
  color:var(--black);
  text-transform: capitalize;
  margin-top:3rem;
}


.home{
  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url('./assets/sugarcane-bg.jpg') no-repeat center center/cover;
  background-size: cover;
  background-position:center;
 
  
  
  
}

.home .center{
  display:flex;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
  
}

.home .center .save{
  background-color: var(--white);
  padding:2rem;
  box-shadow: var(--box-shodow);
  width:50rem;
  
}

.home .center .save .flex{
  display:flex;
  gap:1rem;
  flex-wrap: wrap;
}


.home .center .save .box{
  flex:1 1 20rem;
  
}

.home .center .save h3 {
  padding-bottom: 1rem;;
  text-align: center;
  color:var(--black);
  text-transform: capitalize;
  font-size:2.5rem;


}

.home .center .save .box .input{
  width:100%;
  border: var(--border);
  padding:1.4rem;
  color:var(--black);
  font-size:1.8rem;
  margin:1rem 0;

}

.home .center .save .box p{
  color:var(--light-color);
  font-size: 1.7rem;;
}


.home .center .save .box p span{
  color:var(--main-color);
}


.listings .box-container{
  display:grid;
  grid-template-columns: repeat(auto-fit,30rem);
  gap:2rem;
  justify-content: center;
  align-items:flex-start;
}

.listings .box-container .box{
  background-color: var(--white);
  box-shadow: var(--box-shodow);
  padding:2rem;
}

.listings .box-container .box .thumb{
  position:relative;
  height: 30rem;
  overflow: hidden;
}

.listings .box-container .box .thumb img{
  height: 100%;
  width: 100%;
}

.listings .box-container .box:hover .thumb img{
  transform:scale(1.1)
}


.listings .box-container .box .thumb .total-images{
  position:absolute;
  top:1rem; left: 1rem;
  background-color: rgba(0,0,0,.3);
  color:var(--white);
  padding:.5rem 1.5rem;
  font-size:1.6rem;
  z-index: 1;
}

.listings .box-container .box .thumb .total-images i {
  margin-right: .7rem;
}
.listings .box-container .box .thumb  .type{
  position:absolute;
  bottom:1rem; left:1rem;
  z-index: 1;
}

.listings .box-container .box .thumb  .type span{
  margin-right:1rem;
  padding:.5rem 1.5rem;
  color: var(--white);
  background-color: var(--main-color);
  font-size: 1.6rem;;
}

.listings .box-container .box .thumb .save{
  position:absolute;
  top:1rem; right:1rem;

}

.listings .box-container .box .thumb .save button{
  background-color: rgba(0,0,0,.3);
  color:var(--white);
  padding:.5rem 1.5rem;
  font-size:1.6rem;
}


.listings .box-container .box .name{
  font-size:1.8rem;
  text-overflow: ellipsis;
  overflow-x:hidden;
  color:var(--black);
  margin-top: 1rem;

}



.listings .box-container .box .location{
  padding:1rem;  
  font-size:1.6rem;
  color:var(--light-color);
}


.listings .box-container .box .location i {
  margin-right:1rem;
  font-size:1.6rem;
  color:var(--main-color)
}

.listings .box-container .box  .flex{
  display: flex;
  background-color: var(--light-bg);
  padding:1.5rem;
  justify-content: space-between;
  align-items: center;
  margin:.5rem 0 ;
  flex-wrap:wrap;
  gap:1.5rem;
}

.listings .box-container .box  .flex p{
  font-size:1.6rem;
  flex-wrap: 1 1 7rem;
}

.listings .box-container .box  .flex p span{
  color:var(--light-color)
}

.listings .box-container .box  .flex p i {
  margin-right:1rem;
  color:var(--main-color);
  
}




.listings .no_info{

  width: 30rem;
  margin: auto;  /* จัดกึ่งกลางทั้งแนวนอนและแนวตั้ง */
  color: var(--main-color);
  text-align: center;
  border: 1px solid var(--main-color);
  padding: 20px;
  font-size: 1.7rem;
}







































@media (max-width:991px){
  html{
    font-size: 55%;
  }
}


@media (max-width:450px){
  html{
    font-size: 45%;
  }

  .home .center form .flex{
    gap:0;


  }

  .listings .box-container{
    grid-template-columns: 1fr;
  }
}





